@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-coverflow";



.text-primary{
    color:#FFFFFF

}

.text-secondary{
    color: #091733;
}


.nav-bg{
    background-color: #091733
}